$primary-color: #CD3834;
$white: #FEFAFA;
$dark: #3D0000;
$medium: #9A2A27;
$light: #D57976;
$accent: #FFC18C;

html, body {
  height: 98%;
  padding: 0;
  margin: 0;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

body {
  font-family: NimbusSansLRegular, "Helvetica Neue", Helvetica, sans-serif;
  color: $dark;
  background-color: #F7F7F7;
}

.container {
  width: 85%;
  margin: 20px auto 0;
  padding: 25px;
  background-color: $white;
  border: 1px solid $dark;
  min-height: 470px;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.login {
  position: absolute;
  right: 10px;
  cursor: pointer;
  text-decoration: none;
  color: $white;
  font-size: 14px;
  background-color: $primary-color;
  padding: 10px;
  margin-top: 10px;
}
.login:hover {
  color: $light;
}
.login:active {
  color: $accent;
}

#header {
  background-color: $white;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid $dark;
  box-sizing: border-box;
}

header {
  a {
    text-decoration: none;
  }
  a:visited {
    color: inherit;
  }
  a:active {
    color: $accent;
  }
}

nav {
  a {
    text-decoration: none;
    color: $dark;
  }
  a:visited {
    color: inherit;
  }
  a:hover {
    color: $light;
  }
  a:active {
    color: $accent;
  }
  ul {
    text-align: center;
    margin: 0px;
    padding: 0px;
    padding-bottom: 20px;
    font-size: 18px;
    a {
      margin: 0;
      padding: 0;
    }
    li {
      margin: 0;
      padding: 10px;
      display: inline-block;
      width: 110px;
      color: $white;
      background-color: $primary-color;
    }
  }
}

.clubs-spades {
  color: $dark;
}

.hearts-diamonds {
  color: $light;
}

h1 {
  color: $primary-color;
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 3px;
  padding-top: 7px;
}

h2 {
  color: $medium;
  margin: 0;
  padding: 3px;
  padding-bottom: 10px;
  font-size: 20px;
}

h3 {
  color: $light;
  font-size: 12px;
}

ul {
  list-style: none;
  padding: 0;
}

select {
  text-align: center;
  background-color: $medium;
  border: 1px solid $dark;
  color: $white;
  height: 25px;
  font-size: 14px;
  font-size: 16px;
  margin-left: 5px;
  margin-bottom: 20px;
}

.player-select {
  margin-top: 20px;
}
.styled-select {
  text-align: center;
}

.styled-select select {
  width: 35%;
  height: 28px;
}

.footer {
  width: 100%;
  height: 25px;
  font-size: 14px;
  padding-top: 25px;
  text-align: center;
  margin: 0;
}

.item {
  cursor: pointer;
  padding: 15px;
  border: 1px solid $dark;
  width: 30%;
  margin: 5px 1.5%;
  float: left;
  box-sizing: border-box;
}

.item:nth-child(even) {
  background-color: $light;
  color: $white;
}
.item:hover {
  color: $primary-color;
}
.item:active {
  color: $accent;
}

.hands {
  border-bottom: 3px dotted $accent;
  cursor: pointer;
  display: inline-block;
  width: auto;
  margin: 10px auto 0;
}
.hands:hover {
  color: $primary-color;

}
.hands:active {
  color: $accent;
}

.handNarrative {
  margin-top: 8px;
}

.declarer {
  font-weight: bold;
  color: $primary-color;
}

.player:first-of-type {
  margin-left: 13px;
}

.player {
  display: inline-block;
  width: 85px;
  text-align: center;
  border-bottom: 1px solid $dark;
  border-right: 1px solid $dark;
  background-color: $medium;
  color: $white;
}

.score {
  width: 80px;
}
.trick {
  width: 45px;
}
.warning {
  color: $primary-color;
}
.delete {
  background-color: $primary-color;
  color: $white;
  cursor: pointer;
  display: inline-block;
  padding: 0 5px;
}

input[type=text], input[type=number], input[type=password], input[type=date] {
  height: 18px;
}

input[type=submit], button {
  margin: 5px;
  padding: 10px;
  display: inline-block;
  width: 120px;
  color: $white;
  background-color: $primary-color;
  cursor: pointer;
  border: none;
}

.event-details {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  .table {
    width: 70%;
    margin: 10px auto;
    float: none;
  }
  h2 {
    display: inline;
  }
}

.table {
  border: 1px solid $dark;
  width: 22%;
  text-align: center;
  padding: 5px;
  float: left;
  margin: 10px 1.5% 10px;
  box-sizing: border-box;
}
.table-title {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid $dark;
}
.table-item {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  border-right: 1px solid $dark;
  padding-top: 5px;
}
.table-item:last-of-type {
  border-right: 0px;
}
.table:nth-of-type(odd) {
  background-color: $light;
  color: $white;
}
