$primary-color: #CD3834;
$white: #FEFAFA;
$dark: #3D0000;
$medium: #9A2A27;
$light: #D57976;
$accent: #FFC18C;

body {
  font-family: NimbusSansLRegular, "Helvetica Neue", Helvetica, sans-serif;
  background-color: $white;
  height: 1vh;
}

h1 {
  color: $dark;
  margin: 5px;
}

h2 {
  color: $primary-color;
  margin: 5px;
}
