$primary-color: #CD3834;
$white: #FEFAFA;
$dark: #3D0000;
$medium: #9A2A27;
$light: #D57976;
$accent: #FFC18C;

body {
  font-family: NimbusSansLRegular, "Helvetica Neue", Helvetica, sans-serif;
  background-color: $white;
  color: $dark;
}

.login {
  position: fixed;
  right: 10px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
.login:hover {
  color: $primary-color;
}
.login:active {
  color: $accent;
}



header {
  text-align: center;
  a {
    text-decoration: none;
  }
  a:visited {
    color: inherit;
  }
  a:active {
    color: $accent;
  }
}

nav {
  a {
    text-decoration: none;
  }
  a:visited {
    color: inherit;
  }
  a:hover {
    color: $primary-color;
  }
  a:active {
    color: $accent;
  }
  ul {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    a {
      margin: 0;
      padding: 0;
    }
    li {
      margin: 0;
      padding: 0;
      display: inline-block;
      width: 100px;
      border-right: 1px solid $dark;
    }
    li:last-of-type {
      border-right: 0px;
    }
  }
}

h1 {
  color: $primary-color;
  font-size: 30px;
  margin: 5px 0 0 0;

}

h2 {
  color: $medium;
  margin: 0;
  padding-bottom: 8px;
  border-bottom: 1px solid $dark;
  font-size: 22px;
}

h3 {
  color: $light;
  font-size: 12px;
}

.footer {
  position: absolute;
  bottom: 10px;
}

.item {
  cursor: pointer;
}
.item:hover {
  color: $primary-color;
}
.item:active {
  color: $accent;
}
