<h3>Create League Form</h3>

<form>
  Event League: <select ng-model="newEventLeagueID">
    <option ng-repeat="league in leagues" value="{{league.id}}">{{league.name}}</option>
  </select>
  Event Name: <input type="text" ng-model="newEventName" />
  Event Date: <input type="date" ng-model="newEventDate"  />
  <div></div>
  Number of players: <input type="number" ng-model="newEventPlayerCount"/>
  <div></div>
  <select ng-repeat="i in range(newEventPlayerCount) track by $index" ng-model="newEventPlayers[$index]">
    <option ng-repeat="user in users track by $index" value="{{user.id}}">{{user.name}}</option>
  </select>
</form>
<div>
  <input type="submit" ng-click="postEvent()" value="Create Event"/>
</div>
