<h3>Create Event</h3>

<form>
  Event League: <select ng-model="newEventLeagueID">
    <option ng-repeat="league in data.leagues" value="{{league.id}}">{{league.name}}</option>
  </select>
  Event Name: <input type="text" ng-model="newEventName" />
  Event Date: <input type="date" ng-model="newEventDate"  />
  <div></div>
  Number of players: <input type="number" ng-model="newEventPlayerCount"/>
  <div></div>
  Players:
  <select class="player-select" ng-repeat="i in range(newEventPlayerCount) track by $index" ng-model="newEventPlayers[$index]">
    <option ng-repeat="user in data.usersNoScores track by $index" value="{{user.id}}">{{user.name}}</option>
  </select>
</form>
<div>
  <input type="submit" ng-click="postEvent()" value="Create Event"/>
</div>
