<h3>Events</h3>

<div ng-show='working()'>
  One moment...
</div>

<div class="item" ng-repeat="thisEvent in data.events" ng-click="showEventDetail(thisEvent.id)" ng-hide="eventDetail">
  <strong>{{thisEvent.name}}</strong>
  <br />
  {{thisEvent.league}}
  <br />
  {{thisEvent.date | date: 'shortDate'}}
</div>

<div class="event-details" ng-show="event.id">
  <div>
    <h2>{{event.name}}</h2> on {{event.date | date: 'shortDate'}}
    <br />
    <span class="hands" ng-click="handDetail(event.id)">{{event.hands}} hands</span>
  </div>

  <div class="table">
    <div>
      <span class="table-title">Scoreboard</span>
    </div>
    <div ng-repeat="player in event.players">
      <span class="table-item">{{player.name}}</span><span class="table-item">{{player.final_score}}</span>
    </div>
  </div>
  <div class="clearfix"></div>
  <button ng-click="clearEvent()">Back</button>
</div>
