<p>
  Future Events Landing Page
</p>

<div ng-hide="events.length">
  One moment...
</div>

<div class="event" ng-repeat="thisEvent in events" ng-click="showEventDetail(thisEvent.id)" ng-hide="event.id">
  {{thisEvent.id}}: {{thisEvent.name}} in {{thisEvent.league}} on {{thisEvent.date | date: 'shortDate'}}
</div>

<div ng-show="event.id">
  <div>
    {{event.id}}: {{event.name}} on {{event.date | date: 'shortDate'}}, {{event.hands}} hands
  </div>
  <div>
    Players:
  </div>
  <ul>
    <li ng-repeat="player in event.players">
      {{player.name}}, score: {{player.final_score}}
    </li>
  </ul>
</div>

<button ng-show="event.id" ng-click="clearEvent()">Back</button>
