<h3>Events</h3>

<div ng-show='working()'>
  One moment...
</div>

<div class="item" ng-repeat="thisEvent in data.events" ng-click="showEventDetail(thisEvent.id)" ng-hide="eventDetail">
  {{$index+1}}: {{thisEvent.name}} in {{thisEvent.league}} on {{thisEvent.date | date: 'shortDate'}}
</div>

<div class="event-details" ng-show="event.id">
  <div>
    ID# {{event.id}}: {{event.name}} on {{event.date | date: 'shortDate'}}, <span class="hands" ng-click="handDetail(event.id)">{{event.hands}} hands</span>
  </div>
  <div>
    Players:
  </div>
  <ul>
    <li ng-repeat="player in event.players">
      {{player.name}}, score: {{player.final_score}}
    </li>
  </ul>
  <button ng-click="clearEvent()">Back</button>
</div>
