<h3>Leagues</h3>

<div ng-hide="data.leagues.length">
  One moment...
</div>

<div class="item" ng-hide="league.id" ng-repeat="thisLeague in data.leagues" ng-click="showLeagueDetail(thisLeague.id)">
  {{thisLeague.name}} commissioned by {{thisLeague.commissioner}}
</div>

<div ng-show="league.id">
  <h2>{{league.name}}</h2>
  <ul>
    <li class="item" ng-repeat="event in league.events" ng-click="eventDetail(event.id)">
      <strong>{{event.name}}</strong>
      <br />
      {{event.date | date: 'shortDate'}}
    </li>
  </ul>
  <div class="clearfix">

  </div>
  <button ng-click="clearLeague()">Back</button>
</div>
