<div ng-show="admin.username">
  <h1>Hello, Joe.  You're ready to go.</h1>
  <button ng-click="createLeague()">Create League</button>
  <button ng-click="createUser()">Create User</button>
  <button ng-click="createEvent()">Create Event</button>
</div>

<div ng-hide="admin.username">
  <form>
    Username: <input type="text" ng-model="username" />
    Password: <input type="password" ng-model="password" />

    <input type="submit" ng-click="login()" value="Log In" />
  </form>
</div>

<div ng-show="showFailedMessage">
  Login Failed.
</div>
