<h3>Users</h3>

<div ng-hide="data.users.length">
  One moment...
</div>

<div class="clearfix">
  
  <div class="item" ng-repeat="thisUser in data.users" ng-click="showUserDetail(thisUser.id)" ng-hide="user.id">
    <strong>{{thisUser.name}}</strong>
    <br />
    Aggregate Score: {{thisUser.score}}
  </div>
</div>

<div ng-show="user.id">
  <div>
    <h2>{{user.name}}</h2>
  </div>
  <ul class="clearfix">
    <li class="item" ng-click="eventDetail(event.id)" ng-repeat="event in user.events">
      <strong>{{event.name}}</strong>
      <br />
      Final score {{event.final_score}}
    </li>
  </ul>
  <button ng-click="clearUser()">Back</button>

</div>
